<app-header></app-header>
<br>
<div class="custom-card">
    <div class="card">
        <div class="card-body">
            <br>
            <h2>BIENVENIDO AL SISTEMA DE GESTIÓN</h2>
            <br>
        </div>
    </div>
</div>
<br>
<br>
<div class="custom-card">
    <div class="card">
        <div class="card-body">
            <br>
            <div style="display: flex; align-items: center; flex-direction: column;">
                <div style="display: flex; align-items: center;">
                    <div style="flex: 1;">
                        <img src="assets/images/add.png" alt="Imagen" style="max-width: 30%;">
                    </div>
                    <div style="flex: 1;">
                        <h2>¿DESEAS INGRESAR, EDITAR O ELIMINAR ALGUN USUARIO?</h2>
                    </div>
                </div>
                <div style="margin-top: 10px; text-align: center;">
                    <a href="/administrador" style="text-decoration: none;">
                        <button style="margin-left: 650px;"> DA CLICK AQUÍ</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="custom-card">
    <div class="card">
        <div class="card-body">
            <br>
            <div style="display: flex; align-items: center; flex-direction: column;">
                <div style="display: flex; align-items: center;">
                    <div style="flex: 1;">
                        <img src="assets/images/edicion.png" alt="Imagen" style="max-width: 30%;">
                    </div>
                    <div style="flex: 1;">
                        <h2>¿DESEAS EDITAR LA INTERFAZ DEL SISTEMA CONÓCELES?</h2>
                    </div>
                </div>
                <div style="margin-top: 10px; text-align: center;">
                    <a href="/personalizacion" style="text-decoration: none;">
                        <button style="margin-left: 650px;"> DA CLICK AQUÍ</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
