<app-header></app-header>
<br>
<div class="custom-card">
    <div class="card">
        <div class="card-body">
            <h2>BIENVENIDO AL SISTEMA DE GESTIÓN</h2>
        </div>
    </div>
</div>
<br>
<br>
<div class="custom-card">
    <div class="card">
        <div class="card-body">
            <br>
            <h2>DESEAS INGRESAR, EDITAR O ELIMINAR ALGUN USUARIO</h2>
            <div style="display: flex; align-items: center;">
                <div style="flex: 1;">
                    <img src="assets/images/add.png" alt="Imagen" style="max-width: 30%;">
                </div>
                <div style="flex: 1;">
                    <a href="/administrador" style="text-decoration: none;">
                        <button>DA CLICK AQUÍ</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
